rasterio >= 1.3
geopandas >= 0.10.0
pyproj
flake8
pytest
pytest-xdist
pytest-lazy-fixture
sphinx
sphinx-book-theme
pylint
sphinxcontrib_programoutput
sphinx_autodoc_typehints
matplotlib
myst-parser
myst-nb
scipy
pre-commit
typing-extensions
sphinx-gallery
scikit-image
pyyaml
autovizwidget
graphviz
jinja2 < 3.1
