name: geoutils-dev
channels:
  - conda-forge
dependencies:
  - python>=3.9
  - geopandas>=0.12.0
  - matplotlib
  - pyproj
  - rasterio>=1.3
  - numpy
  - scipy
  - tqdm
  - xarray
  - rioxarray
  - geocube

  # Development-specific, to mirror manually in setup.cfg [options.extras_require].
  - pip

  # Optional dependencies
  - scikit-image

  # Test dependencies
  - pytest
  - pytest-xdist
  - pytest-lazy-fixture
  - pyyaml
  - flake8
  - pylint

  # Doc dependencies
  - sphinx
  - pydata-sphinx-theme==0.13.3
  - sphinx-book-theme>=1.0
  - sphinx-gallery
  - sphinx-design
  - sphinx-autodoc-typehints
  - sphinxcontrib-programoutput
  - autovizwidget
  - graphviz
  - myst-nb
  - numpydoc
  - typing-extensions

  - pip:
    - -e ./
