name: geoutils-dev
channels:
  - conda-forge
dependencies:
  - python>=3.10,<3.14
  - geopandas>=0.12.0
  - pyproj=3.*
  - rasterio>=1.3,<1.4.4
  - pandas>=1,<3
  - numpy>=1,<3
  - scipy=1.*
  - xarray>2023
  - rioxarray=0.*
  - affine
  - shapely
  - pyogrio

  # Development-specific, to mirror manually in setup.cfg [options.extras_require].
  - pip

  # Optional dependencies
  - matplotlib=3.* # For plotting
  - laspy # For LAS file support
  - lazrs-python # For LAZ file support
  - psutil # For profiler
  - plotly # For profiler
  - numba # For filters
  - dask # For out-of-memory operations

  # Test dependencies
  - gdal  # To test functionalities against GDAL
  - pytest=7.*
  - pytest-xdist
  - pytest-lazy-fixtures
  - pytest-instafail
  - pytest-socket
  - pytest-cov
  - coveralls
  - pyyaml
  - flake8
  - netcdf4  # To write synthetic data with chunksizes
  - pre-commit

  # Doc dependencies
  - sphinx
  - pydata-sphinx-theme
  - sphinx-book-theme>=1.0
  - sphinx-gallery
  - sphinx-design
  - sphinx-autodoc-typehints
  - sphinxcontrib-programoutput
  - sphinx-argparse
  - autovizwidget
  - graphviz
  - myst-nb
  - numpydoc
  - typing-extensions

  - pip:
      - -e ./
