name: geoutils-dev
channels:
  - conda-forge
dependencies:
  - python>=3.8
  - geopandas>=0.10.0
  - matplotlib
  - pyproj
  - rasterio>=1.3
  - scipy
  - tqdm
  - xarray
  - rioxarray

  # Development-specific
  - autovizwidget
  - graphviz
  - sphinx
  - myst-nb
  - sphinx-autodoc-typehints
  - sphinxcontrib-programoutput
  - numpydoc
  - flake8
  - pip
  - pytest
  - pytest-xdist
  - pytest-lazy-fixture
  - pylint
  - typing-extensions
  - sphinx-gallery
  - scikit-image
  - pyyaml
  - sphinx-design
  - sphinx-book-theme

  - pip:
    - -e ./
