name: geoutils-dev
channels:
  - conda-forge
dependencies:
  - python>=3.10,<3.13
  - geopandas>=0.12.0
  - matplotlib=3.*
  - pyproj=3.*
  - rasterio>=1.3,<2
  - pandas>=1,<3
  - numpy=1.*
  - scipy=1.*
  - tqdm
  - xarray
  - dask
  - rioxarray=0.*

  # Development-specific, to mirror manually in setup.cfg [options.extras_require].
  - pip

  # Optional dependencies
  - scikit-image

  # Test dependencies
  - gdal  # To test functionalities against GDAL
  - pytest=7.*
  - pytest-xdist
  - pytest-lazy-fixture
  - pyyaml
  - flake8
  - pylint
  - netcdf4  # To write synthetic data with chunksizes
  - dask-memusage
  - pre-commit

  # Doc dependencies
  - sphinx
  - pydata-sphinx-theme
  - sphinx-book-theme>=1.0
  - sphinx-gallery
  - sphinx-design
  - sphinx-autodoc-typehints
  - sphinxcontrib-programoutput
  - sphinx-argparse
  - autovizwidget
  - graphviz
  - myst-nb
  - numpydoc
  - typing-extensions

  - pip:
    - -e ./
