name: geoutils
channels:
  - conda-forge
dependencies:
  - python>=3.10,<3.14

  # Core dependencies
  - geopandas>=0.12.0
  - rasterio>=1.3,<1.4.4
  - scipy=1.*
  - xarray>2023
  - rioxarray=0.*

  # Depend on the above
  - pyproj=3.*
  - pandas>=1,<3
  - numpy>=1,<3
  - affine
  - shapely
  - pyogrio
