name: geoutils
channels:
  - conda-forge
dependencies:
  - python>=3.9,<3.12
  - geopandas>=0.12.0
  - matplotlib=3.*
  - pyproj=3.*
  - rasterio>=1.3,<2
  - pandas>=1,<3
  - numpy>=1,<3
  - scipy=1.*
  - tqdm
  - xarray
  - dask
  - rioxarray=0.*
