name: geoutils
channels:
  - conda-forge
dependencies:
  - python>=3.10,<3.14
  - geopandas>=0.12.0
  - matplotlib=3.*
  - pyproj=3.*
  - rasterio>=1.3,<1.4.4
  - pandas>=1,<3
  - numpy>=1,<3
  - scipy=1.*
  - tqdm
  - xarray>2023
  - dask
  - rioxarray=0.*
  - affine
  - shapely
